/* Подключение шрифтов Raleway */
@font-face {
  font-family: Raleway;
  src:
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src:
    url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Подключение шрифтов Fira Sans Condensed для проекта */
@font-face {
  font-family: 'Fira Sans Condensed';
  src:
    url('../fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
    url('../fonts/FiraSansCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src:
    url('../fonts/FiraSansCondensed-Bold.woff2') format('woff2'),
    url('../fonts/FiraSansCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Общие стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  background-color: #1b1919;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Шаг 1. Лейаут */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 133px;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: auto 1fr;
  gap: 40px;
  align-items: end;
}

.content__details {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.content__list-container {
  grid-column: 2;
  grid-row: 2;
  height: 298px;
  overflow-y: auto;
}

.search-form {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* Шаг 2. Уточнение размеров */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

/* Шаг 3. Стили текстов */
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 5px;
}

.title {
  font-size: 78px;
  font-weight: 700;
  line-height: 0.95;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  max-height: calc(0.9em * 4);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Шаг 4. Стилизуем формы и их состояния */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  font-size: 18px;
  line-height: 1.2;
}

.search-form__textfield {
  appearance: none;
  min-width: 225px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  padding: 2.5px 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  vertical-align: middle;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: currentColor;
}

/* Шаг 5. Стилизуем кнопки и их состояния */
.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

/* Шаг 6. Состояния карточек */
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* Шаг 7. Работаем с кликабельностью */
.button,
.search-form__label,
.content__card-link {
  cursor: pointer;
}

/* Шаг 8. Позиционирование прелоадеров */
.result__video-container,
.content__list-container {
  position: relative;
}

/* Стили для скроллбара */
.content__list-container::-webkit-scrollbar {
  width: 5px;
}

.content__list-container::-webkit-scrollbar-track {
  background: #1b1919;
}

.content__list-container::-webkit-scrollbar-thumb {
  background: #545050;
}

.content__list-container::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.content__list-container {
  scrollbar-width: thin;
  scrollbar-color: #545050 #1b1919;
}

/* Ваши дополнительные стили для других проектов */
/* (сохранены для совместимости, если они нужны) */

/* Блок: Header */

}
